* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: Arial, sans-serif;
  background-color: #121212; }

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(to left, darkred, black);
  padding: 15px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.7);
  animation: slideIn 1s ease-out; }
  .header .logo {
    font-size: 36px;
    font-weight: bold;
    color: white;
    letter-spacing: 2px; }
    .header .logo .marvel {
      font-size: 48px;
      color: darkred;
      transition: transform 0.3s ease; }
      .header .logo .marvel:hover {
        transform: scale(1.2); }
  .header .menu ul {
    list-style: none;
    display: flex;
    margin-right: 3%;
    gap: 30px; }
    .header .menu ul a {
      color: rgba(128, 128, 128, 0.634);
      text-decoration: none;
      font-size: 20px;
      position: relative;
      padding: 10px;
      transition: color 0.3s ease, transform 0.3s ease; }
      .header .menu ul a:before {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: black;
        transform: scaleX(0);
        transform-origin: bottom right;
        transition: transform 0.3s ease; }
      .header .menu ul a:hover {
        color: white;
        transform: translateY(-3px); }
      .header .menu ul a:hover::before {
        transform: scaleX(1);
        transform-origin: bottom left; }

@keyframes slideIn {
  from {
    transform: translateY(-100%); }
  to {
    transform: translateY(0); } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.video-container {
  margin-top: 5%;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1; }
  .video-container .video-background {
    object-fit: cover;
    width: 100%;
    height: 100%;
    opacity: 45%; }

.space {
  padding-left: 5%;
  padding-right: 5%; }
  .space main {
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; }
    .space main .card {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
      padding: 32px;
      overflow: hidden;
      border-radius: 10px;
      background: linear-gradient(-45deg, rgba(0, 0, 0, 0.479), rgba(139, 0, 0, 0.39) 100%);
      transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1); }
      .space main .card:hover {
        box-shadow: none; }
        .space main .card:hover::before {
          width: 100%; }
      .space main .card::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 5px;
        height: 100%;
        background: linear-gradient(-45deg, black 0%, darkred 100%);
        z-index: -1;
        transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1); }
    .space main .content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 20px;
      color: #e8e8e8;
      transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1); }
      .space main .content .heading {
        font-weight: 700;
        font-size: 32px; }
      .space main .content .para {
        line-height: 1.5; }
  .space .separador {
    margin-top: 10%;
    border: none;
    border-top: 10px solid red;
    position: static;
    width: 100%;
    height: 10px;
    z-index: 10; }
  .space #title-princ {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; }
    .space #title-princ h1 {
      margin-top: 5%;
      margin-bottom: 3%;
      color: darkred;
      font-size: 40px; }
  .space .card {
    width: 100%;
    height: 90%;
    border: none;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease; }
    .space .card:hover {
      transform: translateY(-15px); }
    .space .card .card-img-wrapper {
      position: relative; }
      .space .card .card-img-wrapper .card-img {
        object-fit: cover;
        width: 100%;
        height: 90%;
        transition: transform 0.3s ease; }
        .space .card .card-img-wrapper .card-img:hover {
          transform: scale(1.2); }
      .space .card .card-img-wrapper a {
        text-decoration: none; }

#pie {
  padding-top: 2%;
  background: linear-gradient(to top, darkred, #121212);
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  #pie .icono-redes {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 5px;
    flex-wrap: wrap; }
  #pie .elemen-icono {
    list-style: none; }
    #pie .elemen-icono .icono {
      color: gray;
      font-size: 32px;
      display: inline-block;
      margin: 0 20px;
      transition: color 1s, transform 1s; }
      #pie .elemen-icono .icono:hover {
        transform: translateY(-10px);
        color: #ffffff; }
  #pie #menu-pie {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 3%;
    column-gap: 15%; }
    #pie #menu-pie .elem-pie {
      list-style: none; }
      #pie #menu-pie .elem-pie .info-pie {
        color: grey;
        font-size: 25px;
        display: inline-block;
        text-decoration: none;
        margin: 5px 10px;
        transition: color 1s; }
        #pie #menu-pie .elem-pie .info-pie:hover {
          color: #ffffff; }
  #pie #copyright {
    margin-bottom: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: black; }
