.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(to left, darkred, black);
  padding: 15px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.7);
  animation: slideIn 1s ease-out; }
  .header .logo {
    font-size: 36px;
    font-weight: bold;
    color: white;
    letter-spacing: 2px; }
    .header .logo .marvel {
      font-size: 48px;
      color: darkred;
      transition: transform 0.3s ease; }
      .header .logo .marvel:hover {
        transform: scale(1.2); }
  .header .menu ul {
    list-style: none;
    display: flex;
    margin-right: 3%;
    gap: 30px; }
    .header .menu ul a {
      color: rgba(128, 128, 128, 0.634);
      text-decoration: none;
      font-size: 20px;
      position: relative;
      padding: 10px;
      transition: color 0.3s ease, transform 0.3s ease; }
      .header .menu ul a:before {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: black;
        transform: scaleX(0);
        transform-origin: bottom right;
        transition: transform 0.3s ease; }
      .header .menu ul a:hover {
        color: white;
        transform: translateY(-3px); }
      .header .menu ul a:hover::before {
        transform: scaleX(1);
        transform-origin: bottom left; }

#bannerdeadpool {
  margin-top: 5%;
  width: 100%;
  height: 400px; }

#main-deadpool #cont-main {
  border-radius: 1%;
  margin-top: 10%;
  margin-bottom: 5%;
  background-color: darkred; }
  #main-deadpool #cont-main #cont-texto {
    margin-left: 2%; }
    #main-deadpool #cont-main #cont-texto p {
      font-size: 17px;
      color: white; }

#pie {
  padding-top: 2%;
  background-color: rgba(139, 0, 0, 0.685);
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  #pie .icono-redes {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 5px;
    flex-wrap: wrap; }
  #pie .elemen-icono {
    list-style: none; }
    #pie .elemen-icono .icono {
      color: gray;
      font-size: 32px;
      display: inline-block;
      margin: 0 20px;
      transition: color 1s, transform 1s; }
      #pie .elemen-icono .icono:hover {
        transform: translateY(-10px);
        color: #ffffff; }
  #pie #menu-pie {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 3%;
    column-gap: 15%; }
    #pie #menu-pie .elem-pie {
      list-style: none; }
      #pie #menu-pie .elem-pie .info-pie {
        color: grey;
        font-size: 25px;
        display: inline-block;
        text-decoration: none;
        margin: 5px 10px;
        transition: color 1s; }
        #pie #menu-pie .elem-pie .info-pie:hover {
          color: #ffffff; }
  #pie #copyright {
    margin-bottom: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: black; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(to left, darkred, black);
  padding: 15px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.7);
  animation: slideIn 1s ease-out; }
  .header .logo {
    font-size: 36px;
    font-weight: bold;
    color: white;
    letter-spacing: 2px; }
    .header .logo .marvel {
      font-size: 48px;
      color: darkred;
      transition: transform 0.3s ease; }
      .header .logo .marvel:hover {
        transform: scale(1.2); }
  .header .menu ul {
    list-style: none;
    display: flex;
    margin-right: 3%;
    gap: 30px; }
    .header .menu ul a {
      color: rgba(128, 128, 128, 0.634);
      text-decoration: none;
      font-size: 20px;
      position: relative;
      padding: 10px;
      transition: color 0.3s ease, transform 0.3s ease; }
      .header .menu ul a:before {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: black;
        transform: scaleX(0);
        transform-origin: bottom right;
        transition: transform 0.3s ease; }
      .header .menu ul a:hover {
        color: white;
        transform: translateY(-3px); }
      .header .menu ul a:hover::before {
        transform: scaleX(1);
        transform-origin: bottom left; }

#pie {
  padding-top: 2%;
  background-color: rgba(139, 0, 0, 0.685);
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  #pie .icono-redes {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 5px;
    flex-wrap: wrap; }
  #pie .elemen-icono {
    list-style: none; }
    #pie .elemen-icono .icono {
      color: gray;
      font-size: 32px;
      display: inline-block;
      margin: 0 20px;
      transition: color 1s, transform 1s; }
      #pie .elemen-icono .icono:hover {
        transform: translateY(-10px);
        color: #ffffff; }
  #pie #menu-pie {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 3%;
    column-gap: 15%; }
    #pie #menu-pie .elem-pie {
      list-style: none; }
      #pie #menu-pie .elem-pie .info-pie {
        color: grey;
        font-size: 25px;
        display: inline-block;
        text-decoration: none;
        margin: 5px 10px;
        transition: color 1s; }
        #pie #menu-pie .elem-pie .info-pie:hover {
          color: #ffffff; }
  #pie #copyright {
    margin-bottom: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: black; }

#pie {
  padding-top: 2%;
  background-color: rgba(139, 0, 0, 0.685);
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  #pie .icono-redes {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 5px;
    flex-wrap: wrap; }
  #pie .elemen-icono {
    list-style: none; }
    #pie .elemen-icono .icono {
      color: gray;
      font-size: 32px;
      display: inline-block;
      margin: 0 20px;
      transition: color 1s, transform 1s; }
      #pie .elemen-icono .icono:hover {
        transform: translateY(-10px);
        color: #ffffff; }
  #pie #menu-pie {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 3%;
    column-gap: 15%; }
    #pie #menu-pie .elem-pie {
      list-style: none; }
      #pie #menu-pie .elem-pie .info-pie {
        color: grey;
        font-size: 25px;
        display: inline-block;
        text-decoration: none;
        margin: 5px 10px;
        transition: color 1s; }
        #pie #menu-pie .elem-pie .info-pie:hover {
          color: #ffffff; }
  #pie #copyright {
    margin-bottom: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: black; }

.header-alternativo {
  top: 0;
  left: 0;
  width: 100%;
  background-color: #464646f1;
  padding: 15px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.7);
  animation: slideIn 1s ease-out; }
  .header-alternativo .logo-alternativo {
    font-size: 36px;
    font-weight: bold;
    color: white;
    letter-spacing: 2px; }
    .header-alternativo .logo-alternativo .marvel-alternativo {
      font-size: 48px;
      color: white;
      transition: transform 0.3s ease; }
      .header-alternativo .logo-alternativo .marvel-alternativo:hover {
        transform: scale(1.2); }
  .header-alternativo .menu-alternativo ul {
    list-style: none;
    display: flex;
    margin-right: 3%;
    gap: 5px; }
    .header-alternativo .menu-alternativo ul .nav-item__alternativo {
      position: relative; }
      .header-alternativo .menu-alternativo ul .nav-item__alternativo .nav-link__alternativo {
        color: rgba(128, 128, 128, 0.634);
        text-decoration: none;
        font-size: 20px;
        position: relative;
        padding: 10px;
        transition: color 0.3s ease, transform 0.3s ease; }
        .header-alternativo .menu-alternativo ul .nav-item__alternativo .nav-link__alternativo:hover {
          color: white;
          transform: translateY(-3px); }
      .header-alternativo .menu-alternativo ul .nav-item__alternativo:hover .submenu__alternativo {
        opacity: 1;
        visibility: visible;
        transform: translateY(0); }
      .header-alternativo .menu-alternativo ul .nav-item__alternativo .submenu__alternativo {
        z-index: 10;
        margin-top: 10px;
        display: block;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: #464646f1;
        list-style: none;
        padding: 15px 0;
        min-width: 150px;
        opacity: 0;
        visibility: hidden;
        transform: translateY(-20px);
        transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease; }
        .header-alternativo .menu-alternativo ul .nav-item__alternativo .submenu__alternativo .nav-item__subAlternativo {
          padding: 5px 20px;
          margin-top: 2px;
          margin-bottom: 2px; }
          .header-alternativo .menu-alternativo ul .nav-item__alternativo .submenu__alternativo .nav-item__subAlternativo .nav-link__subAlternativo {
            color: rgba(128, 128, 128, 0.634);
            text-decoration: none;
            font-size: 18px;
            transition: color 0.3s ease; }
            .header-alternativo .menu-alternativo ul .nav-item__alternativo .submenu__alternativo .nav-item__subAlternativo .nav-link__subAlternativo:hover {
              color: white; }

@media screen and (min-width: 320px) and (max-width: 768px) {
  #log-in__responsive nav {
    margin-left: 10px; }
  #log-in__responsive li a {
    font-size: 13px; } }

@media screen and (min-width: 768px) and (max-width: 1023px) {
  #log-in__responsive li a {
    font-size: 18px; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: Arial, sans-serif;
  background-color: #121212; }

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(to left, darkred, black);
  padding: 15px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.7);
  animation: slideIn 1s ease-out; }
  .header .logo {
    font-size: 36px;
    font-weight: bold;
    color: white;
    letter-spacing: 2px; }
    .header .logo .marvel {
      font-size: 48px;
      color: darkred;
      transition: transform 0.3s ease; }
      .header .logo .marvel:hover {
        transform: scale(1.2); }
  .header .menu ul {
    list-style: none;
    display: flex;
    margin-right: 3%;
    gap: 30px; }
    .header .menu ul a {
      color: rgba(128, 128, 128, 0.634);
      text-decoration: none;
      font-size: 20px;
      position: relative;
      padding: 10px;
      transition: color 0.3s ease, transform 0.3s ease; }
      .header .menu ul a:before {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: black;
        transform: scaleX(0);
        transform-origin: bottom right;
        transition: transform 0.3s ease; }
      .header .menu ul a:hover {
        color: white;
        transform: translateY(-3px); }
      .header .menu ul a:hover::before {
        transform: scaleX(1);
        transform-origin: bottom left; }

@keyframes slideIn {
  from {
    transform: translateY(-100%); }
  to {
    transform: translateY(0); } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.video-container {
  margin-top: 5%;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1; }
  .video-container .video-background {
    object-fit: cover;
    width: 100%;
    height: 100%;
    opacity: 45%; }

.space {
  padding-left: 5%;
  padding-right: 5%; }
  .space main {
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; }
    .space main .card {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
      padding: 32px;
      overflow: hidden;
      border-radius: 10px;
      background: linear-gradient(-45deg, rgba(0, 0, 0, 0.479), rgba(139, 0, 0, 0.39) 100%);
      transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1); }
      .space main .card:hover {
        box-shadow: none; }
        .space main .card:hover::before {
          width: 100%; }
      .space main .card::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 5px;
        height: 100%;
        background: linear-gradient(-45deg, black 0%, darkred 100%);
        z-index: -1;
        transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1); }
    .space main .content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 20px;
      color: #e8e8e8;
      transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1); }
      .space main .content .heading {
        font-weight: 700;
        font-size: 32px; }
      .space main .content .para {
        line-height: 1.5; }
  .space .separador {
    margin-top: 10%;
    border: none;
    border-top: 10px solid red;
    position: static;
    width: 100%;
    height: 10px;
    z-index: 10; }
  .space #title-princ {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; }
    .space #title-princ h1 {
      margin-top: 5%;
      margin-bottom: 3%;
      color: darkred;
      font-size: 40px; }
  .space .card {
    width: 100%;
    height: 90%;
    border: none;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease; }
    .space .card:hover {
      transform: translateY(-15px); }
    .space .card .card-img-wrapper {
      position: relative; }
      .space .card .card-img-wrapper .card-img {
        object-fit: cover;
        width: 100%;
        height: 90%;
        transition: transform 0.3s ease; }
        .space .card .card-img-wrapper .card-img:hover {
          transform: scale(1.2); }
      .space .card .card-img-wrapper a {
        text-decoration: none; }

#pie {
  padding-top: 2%;
  background-color: rgba(139, 0, 0, 0.685);
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  #pie .icono-redes {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 5px;
    flex-wrap: wrap; }
  #pie .elemen-icono {
    list-style: none; }
    #pie .elemen-icono .icono {
      color: gray;
      font-size: 32px;
      display: inline-block;
      margin: 0 20px;
      transition: color 1s, transform 1s; }
      #pie .elemen-icono .icono:hover {
        transform: translateY(-10px);
        color: #ffffff; }
  #pie #menu-pie {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 3%;
    column-gap: 15%; }
    #pie #menu-pie .elem-pie {
      list-style: none; }
      #pie #menu-pie .elem-pie .info-pie {
        color: grey;
        font-size: 25px;
        display: inline-block;
        text-decoration: none;
        margin: 5px 10px;
        transition: color 1s; }
        #pie #menu-pie .elem-pie .info-pie:hover {
          color: #ffffff; }
  #pie #copyright {
    margin-bottom: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: black; }

* {
  margin: 0;
  box-sizing: border-box; }

#body-form {
  margin: 0;
  background-image: url(../assets/img/fondo-login.png);
  background-position: center;
  background-size: cover; }

.header-alternativo {
  top: 0;
  left: 0;
  width: 100%;
  background-color: #464646f1;
  padding: 15px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.7);
  animation: slideIn 1s ease-out; }
  .header-alternativo .logo-alternativo {
    font-size: 36px;
    font-weight: bold;
    color: white;
    letter-spacing: 2px; }
    .header-alternativo .logo-alternativo .marvel-alternativo {
      font-size: 48px;
      color: white;
      transition: transform 0.3s ease; }
      .header-alternativo .logo-alternativo .marvel-alternativo:hover {
        transform: scale(1.2); }
  .header-alternativo .menu-alternativo ul {
    list-style: none;
    display: flex;
    margin-right: 3%;
    gap: 5px; }
    .header-alternativo .menu-alternativo ul .nav-item__alternativo {
      position: relative; }
      .header-alternativo .menu-alternativo ul .nav-item__alternativo .nav-link__alternativo {
        color: rgba(128, 128, 128, 0.634);
        text-decoration: none;
        font-size: 20px;
        position: relative;
        padding: 10px;
        transition: color 0.3s ease, transform 0.3s ease; }
        .header-alternativo .menu-alternativo ul .nav-item__alternativo .nav-link__alternativo:hover {
          color: white;
          transform: translateY(-3px); }
      .header-alternativo .menu-alternativo ul .nav-item__alternativo:hover .submenu__alternativo {
        opacity: 1;
        visibility: visible;
        transform: translateY(0); }
      .header-alternativo .menu-alternativo ul .nav-item__alternativo .submenu__alternativo {
        z-index: 10;
        margin-top: 10px;
        display: block;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: #464646f1;
        list-style: none;
        padding: 15px 0;
        min-width: 150px;
        opacity: 0;
        visibility: hidden;
        transform: translateY(-20px);
        transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease; }
        .header-alternativo .menu-alternativo ul .nav-item__alternativo .submenu__alternativo .nav-item__subAlternativo {
          padding: 5px 20px;
          margin-top: 2px;
          margin-bottom: 2px; }
          .header-alternativo .menu-alternativo ul .nav-item__alternativo .submenu__alternativo .nav-item__subAlternativo .nav-link__subAlternativo {
            color: rgba(128, 128, 128, 0.634);
            text-decoration: none;
            font-size: 18px;
            transition: color 0.3s ease; }
            .header-alternativo .menu-alternativo ul .nav-item__alternativo .submenu__alternativo .nav-item__subAlternativo .nav-link__subAlternativo:hover {
              color: white; }

@media screen and (min-width: 320px) and (max-width: 768px) {
  #log-in__responsive nav {
    margin-left: 10px; }
  #log-in__responsive li a {
    font-size: 13px; } }

@media screen and (min-width: 768px) and (max-width: 1023px) {
  #log-in__responsive li a {
    font-size: 18px; } }

section {
  height: 400px; }

.container-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 300px; }
  .container-form #signup_toggle {
    display: none; }
    .container-form #signup_toggle:checked + .form {
      transform: rotateY(-180deg); }
  .container-form .form {
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    transition: all 1s ease; }
    .container-form .form .form_front, .container-form .form .form_back {
      margin-top: 200px;
      margin-bottom: 100px;
      background-color: #464646f1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px;
      position: absolute;
      backface-visibility: hidden;
      padding: 65px 45px;
      border-radius: 15px;
      box-shadow: inset 2px 2px 10px #181818, inset -1px -1px 5px rgba(99, 97, 97, 0.6); }
    .container-form .form .form_front {
      background-color: #464646f1;
      height: 380px; }
    .container-form .form .form_back {
      transform: rotateY(-180deg);
      height: 550px; }
    .container-form .form .form_details {
      font-family: "Prompt", sans-serif;
      font-size: 25px;
      font-weight: 600;
      padding-bottom: 10px;
      color: #dfdede; }
    .container-form .form .switch {
      font-size: 13px;
      color: #dfdede; }
      .container-form .form .switch .signup_tog {
        font-weight: 600;
        cursor: pointer;
        text-decoration: underline;
        font-family: "Prompt", sans-serif; }

.input {
  width: 245px;
  min-height: 45px;
  color: #ffffff67;
  outline: none;
  transition: 0.35s;
  padding: 0px 7px;
  background-color: rgba(82, 72, 72, 0.6);
  border-radius: 6px;
  border: 2px solid rgba(95, 95, 95, 0.6);
  box-shadow: 6px 6px 10px #181818, 1px 1px 10px rgba(99, 97, 97, 0.6); }
  .input::placeholder {
    font-family: "Prompt", sans-serif;
    color: #cfcfcfc4; }
  .input:focus {
    transform: scale(1.05);
    box-shadow: 6px 6px 10px #181818, 1px 1px 10px rgba(99, 97, 97, 0.6), inset 2px 2px 10px #181818, inset -1px -1px 5px rgba(99, 97, 97, 0.6); }
    .input:focus::placeholder {
      transition: 0.3s;
      opacity: 0; }

.btn {
  padding: 10px 35px;
  cursor: pointer;
  background-color: rgba(126, 118, 118, 0.6);
  border-radius: 6px;
  border: 2px solid rgba(214, 213, 213, 0.6);
  box-shadow: 6px 6px 10px #181818, 1px 1px 10px rgba(99, 97, 97, 0.6);
  color: #c7c5c5;
  font-family: "Prompt", sans-serif;
  font-size: 15px;
  font-weight: bold;
  transition: 0.35s; }
  .btn:hover, .btn:focus {
    transform: scale(1.05);
    box-shadow: 6px 6px 10px #181818, 1px 1px 10px rgba(99, 97, 97, 0.6), inset 2px 2px 10px #181818, inset -1px -1px 5px rgba(99, 97, 97, 0.6); }

#pie__log-in {
  height: 209px;
  background-color: #464646f1 !important;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-top: 1%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  #pie__log-in .cont-redes-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    #pie__log-in .cont-redes-menu .icono-redes__alternativo {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 10px 20px;
      flex-wrap: wrap; }
    #pie__log-in .cont-redes-menu .elemen-icono__alternativo {
      list-style: none; }
      #pie__log-in .cont-redes-menu .elemen-icono__alternativo .icono__alternativo {
        color: gray;
        font-size: 29px;
        display: inline-block;
        margin: 0 20px;
        transition: color 1s, transform 1s; }
        #pie__log-in .cont-redes-menu .elemen-icono__alternativo .icono__alternativo:hover {
          transform: translateY(-10px);
          color: #ffffff; }
    #pie__log-in .cont-redes-menu #menu-pie__alternativo {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin-top: 2%;
      margin-bottom: 3%;
      column-gap: 15%; }
      #pie__log-in .cont-redes-menu #menu-pie__alternativo .elem-pie__alternativo {
        list-style: none; }
        #pie__log-in .cont-redes-menu #menu-pie__alternativo .elem-pie__alternativo .info-pie__alternativo {
          color: grey;
          font-size: 22px;
          display: inline-block;
          text-decoration: none;
          margin: 5px 10px;
          transition: color 1s; }
          #pie__log-in .cont-redes-menu #menu-pie__alternativo .elem-pie__alternativo .info-pie__alternativo:hover {
            color: #ffffff; }
  #pie__log-in #copyright__alternativo {
    margin-top: 5px;
    margin-bottom: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: grey; }

@media screen and (min-width: 320px) and (max-width: 767px) {
  .form_front, .form_back {
    width: 290px; }
  .form_back {
    height: 520px; }
  header {
    display: flex;
    flex-direction: column; }
    header nav {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; } }
