@import "menuAlternativo";

#body-collabs{
    background-color:rgb(17, 16, 16);
}

.cards {
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;

    #card {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        height: 700px;
        width: 90%;
        border-radius: 10px;
        cursor: pointer;
        transition: 400ms;
            
        &:hover {
            transform: scale(1.1, 1.1);
        }
    }
  }
    

.cont-banner__collabs{
    width: 100%;
    height: auto;
    animation: slideInLeft 1.5s ease-out forwards;
    #banner-collabs__img{
        object-fit: contain;
        object-fit: fill;
        width: 100%;
        height: 100%;
    }   
}

@keyframes slideInLeft {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
}

.cont-video__collab {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow:hidden;

    .video-collab__fondo {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover; 
        z-index:-1;
    }

    .cont-collab__info {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        z-index: 1; 
        background-color: rgba(0, 0, 0, 0.5); 
        padding:20px;
        
        
        .btn {
            padding: 10px 20px;
            text-transform: uppercase;
            border-radius: 8px;
            font-size: 17px;
            font-weight: 500;
            color: #ffffff80;
            text-shadow: none;
            background: transparent;
            cursor: pointer;
            box-shadow: transparent;
            border: 1px solid #ffffff80;
            transition: 0.5s ease;
            user-select: none;
            a{
                color:white;
                text-decoration: none;
            }
        }
          
        .cont-collab__info .btn:hover,
        .cont-collab__info.btn:focus{
            color: #ffffff;
            background: #008cff;
            border: 1px solid #008cff;
            text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
            box-shadow: 0 0 5px #008cff, 0 0 20px #008cff, 0 0 50px #008cff,
            0 0 100px #008cff;
        }
    }
}   

$sectionCollabs: (
  "sectionPS4": #008cff, 
  "sectionFN": #19bd27,
  "sectionLEGO": #feec00,
);

@each $section, $colorBtnCollabs in $sectionCollabs {
  .#{$section} .btn {
        &:hover,
        &:focus {
            background: $colorBtnCollabs;
            border: 1px solid $colorBtnCollabs;
            box-shadow: 0 0 5px $colorBtnCollabs, 0 0 20px $colorBtnCollabs, 
                        0 0 50px $colorBtnCollabs, 0 0 100px $colorBtnCollabs;
        }
    }
}

.collab-logo{
    width:300px;
    height: 300px;
}

@import "footerAlternativo";


@media screen and (min-width: 320px) and (max-width: 767px){
   #card{
    height: 200px !important;
   }
   .btn{
    font-size: 14px !important;
   }

   .collab-logo{
    width: 100px;
    height: 100px;
   }
}