$colorPrincipalSpiderman: rgb(88, 0, 0);

.grid-comics{
  margin-bottom: 10%;
    width: 100%;
    height: auto;
    display: grid;
    row-gap: 8%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    'c1 c2 c3 c4'
    'c5 c6 c7 c8';
    #comic1{
        grid-area: c1;
    }
    #comic2{
        grid-area: c2;
    }
    #comic3{
        grid-area: c3;
    }
    #comic4{
        grid-area: c4;
    }
    #comic5{
        grid-area: c5;
    }
    #comic6{
        grid-area: c6;
    }
    #comic7{
        grid-area: c7;
    }
    #comic8{
        grid-area: c8;
    }
}

.card-comics {
    position: relative;
    width: 55%;
    height: 95%;
    margin: 0% 22.5%;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    background-color: #272727; 
    .card-comics__img {
      width: 100%;
      z-index: 2;
      height: auto;
      transition: transform 0.3s ease; 
      &:hover {
        transform: scale(1.1);
      }
    }
    .card-comics__info {
      position: relative;
      color: white;
      padding: 30px;
      text-align: center;
      z-index: 2; 
    }
    .card-comics__line {
      position: absolute;
      top: 315px; 
      left: 0;
      width: 100%;
      height: 4px; 
      background-color: darkred;
      z-index: 1; 
      transition: height 0.5s ease, top 0.5s ease;
    }
    &:hover .card-comics__line {
      height: 85px; 
      top: 315px; 
    }
    .card-comics__titulo {
      font-size: 18px;
      margin: 0;
      margin-top: -15px;
      position: relative;
      z-index: 3; 
      font-family: monospace;
    }

  }

  @media screen and (min-width: 768px) and (max-width: 1023px){
    .grid-comics{
      margin-bottom: 50%;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      grid-template-areas: 
      'c1 c2' 
      'c3 c4'
      'c5 c6' 
      'c7 c8';
      #comic1{
        grid-area: c1;
      }
      #comic2{
        grid-area: c2;
      }
      #comic3{
        grid-area: c3;
      }
      #comic4{
        grid-area: c4;
      }
      #comic5{
        grid-area: c5;
      }
      #comic6{
        grid-area: c6;
      }
      #comic7{
        grid-area: c7;
      }
      #comic8{
        grid-area: c8;
      }
    }

    
    .card-comics {
      transition: background-color 0.5s ease;
      .card-comics__line {
        background-color: rgba(139, 0, 0, 0);
      }
      &:hover  {
        background-color: $colorPrincipalSpiderman;
      }
    }
  }
  @media screen and (min-width: 320px) and (max-width: 767px){
    .grid-comics{
      row-gap: 1%;
      margin-bottom: 50%;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-areas: 
      'c1' 
      'c2' 
      'c3' 
      'c4'
      'c5' 
      'c6' 
      'c7' 
      'c8';
      #comic1{
        grid-area: c1;
      }
      #comic2{
        grid-area: c2;
      }
      #comic3{
        grid-area: c3;
      }
      #comic4{
        grid-area: c4;
      }
      #comic5{
        grid-area: c5;
      }
      #comic6{
        grid-area: c6;
      }
      #comic7{
        grid-area: c7;
      }
      #comic8{
        grid-area: c8;
      }
    }
    
    .card-comics {
      transition: background-color 0.5s ease;
      .card-comics__titulo{
        font-size: 13px;
        text-align: center;
      }
      .card-comics__line {
        background-color: rgba(139, 0, 0, 0);
      }
      &:hover  {
        background-color: $colorPrincipalSpiderman;
      }
    }
  }