@import "menuAlternativo";

#bannerdeadpool{
    margin-top: 5%;
    width: 100%;
    height: 400px;
}

#main-deadpool{
    #cont-main{
        border-radius: 1%;
        margin-top: 10%;
        margin-bottom: 5%;
        background-color: rgb(160, 1, 1);
        #cont-texto{
            margin-left: 2%;
            p{
                font-size: 17px;
                color: white;
            } 
        }
    }
}

@import "footerAlternativo";