@import "menuAlternativo";

$letraTexto: "Cormorant", serif;
$letraTitulo: "Audiowide", sans-serif;
$colorRojoIronman: #6A0C0B;
$colorRojoIronmanAlt: #AA0505;
$colorDoradoIronman:#B97D10;

#bodyIronman{
    background-image: url(../assets/img/body-ironman.png);
    object-fit: cover;
    object-position: center;
    animation: scroll-bg 15s linear infinite;
}  
@keyframes scroll-bg {
    from {
      background-position: 0 0;
    }
    to {
      background-position: -500px 0;
    }
  }

.header-ironman{
    background-color: $colorRojoIronman !important;
    .submenu__alternativo{
        background-color: $colorRojoIronman !important;
    }
}

.cont-banner__ironman{
    margin-top: 1.5%;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 4%;
    animation: slideInLeft 1.5s ease-out forwards;
    .banner-ironman{
        width: 90%;
        height: 400px;
        background-color: $colorRojoIronmanAlt;
        border-radius: 15px;
        img{
            border-radius: 15px;
            object-fit: contain;
            object-fit: fill;
            width: 100%;
            height: 100%;
        }
    }
}
@keyframes slideInLeft {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  .intro-ironman{
    width: 100%;
    height: 400px;
    margin-bottom: 4%;
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-between;
    transform: translateX(-100%);
    animation: slideInLeft 1.5s ease-out forwards;
    #intro-ironman__info{
        transition: background-color 0.5s ease;
        padding: 0.5%;
        border-radius: 7px;
        margin-left: 5%;
        margin-right: 2.5%;
        text-align: justify;
        width: 50%;
        font-size: 25px;
        font-weight: 500;
        font-family: $letraTexto;
        color: white;
        opacity: 0;
        transform: translateY(20px);
        animation: fadeInText 2s ease forwards;
        @keyframes fadeInText {
            to {
                opacity: 1;
                transform: translateY(0);
            }
        }
        &:hover{
            background-color: #141414c7;
        }
        
    }
    #intro-ironman__img{
        margin-right: 5%;
        margin-left: 2.5%;
        width: 35%;
        height: 350px;
        img{
            width: 100%;
            height: 100%;
            border: 5px solid $colorNegroBW;
            outline: 3px solid $colorRojoBW;
            outline-offset: 5px;
            transition: transform 0.5s ease;
            

            &:hover {
                transform: scale(1.1) rotate(-2deg);
            }
        }
    }
}

#card-comics__ironman{
    &:hover{
      box-shadow: 0 10px 20px white !important;
    }
    .card-comics__line{
        background-color: $colorRojoIronman !important;
    &:hover  {
        background-color: $colorRojoIronmanAlt !important;
    }
    }
}
.cont-comics{
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    h2{
        font-size: 30px;
        font-family: $letraTitulo;
        text-align: center;
        margin-bottom: 3.5%;
        font-weight: 400;
        color: white
    }
}

.titulos{
    font-size: 30px;
    font-family: $letraTitulo;
    text-align: center;
    margin-bottom: 3%;
    font-weight: 400;
    color: white;
    overflow: hidden;
}
@import "animaciones";
#titulos-ironman{
    @include destello-pulsante($colorRojoIronman, $colorDoradoIronman, #fdfdfdb6, "ironman");
}

#buy-btn__ironman{
    &:hover{
    background-color: $colorRojoIronman;
    }
} 

#cont-carrusel-productos__ironman{
    background-color: $colorDoradoIronman;
}

#carousel-item__ironman{
    background-color: $colorRojoIronman;
}

#pie-footer__ironman{
    background-color: $colorRojoIronman !important;
}
@import "comic-card";

@import "carruselProductos";

@import "footerAlternativo";

@media screen and (min-width: 768px) and (max-width: 1023px){
    #intro-ironman__info{
        font-size: 16px !important;
    }
    #intro-ironman__img img{
        object-fit: cover;
    }
    .cont-comics{
        margin-bottom: 10%;
    }
}


@media screen and (min-width: 320px) and (max-width: 767px){
    .banner-ironman{
        margin-top: 3.5%;
        margin-bottom: 3%;
        width: 93% !important;
        height: 200px !important;
        border-radius: 15px;
        img{
            border-radius: 15px;
            object-fit: contain;
            object-fit: fill;
            width: 100%;
            height: 100%;
        }
    }
    .intro-ironman{
        flex-direction: column;
        margin-bottom: 70%;
        #intro-ironman__info{
            font-size: 14px !important;
            width: 80%;
            margin-left: 10%;
            margin-right: 10%;
            margin-bottom: 5% !important;
        }
        #intro-ironman__img{
            width: 80%;
            margin-left: 10%;
            margin-right: 10%;
            #intro-ironman__img img{
                object-fit: cover;
            }
        }
        
    }

    .cont-comics{
        h2{
            margin-bottom: 10%;
        }
    }
}