@import "menuAlternativo";

$colorVioletaPanteraNegra: rgb(52, 4, 97);
$colorNegroPanteraNegra:#121212;

#body-panteraNegra{
    background-image: url(../assets/img/body-blackpanther.png);
    object-fit: cover;
    object-position: center;
    animation: scroll-bg 15s linear infinite;
}  
@keyframes scroll-bg {
    from {
      background-position: 0 0;
    }
    to {
      background-position: -500px 0;
    }
  }


.header-panteraNegra{
    background-color: $colorVioletaPanteraNegra !important;
    .submenu__alternativo{
        background-color: $colorVioletaPanteraNegra !important;
    }
}

.cont-banner__panteraNegra{
    margin-top: 1.5%;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 4%;
    animation: slideInLeft 1.5s ease-out forwards;
    .banner-panteraNegra{
        width: 90%;
        height: 400px;
        background-color: $colorVioletaPanteraNegra;
        border-radius: 15px;
        img{
            border-radius: 15px;
            object-fit: contain;
            object-fit: fill;
            width: 100%;
            height: 100%;
        }
    }
}

@keyframes slideInLeft {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
}

.intro-panteraNegra{
    width: 100%;
    height: 400px;
    margin-bottom: 4%;
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-between;
    transform: translateX(-100%);
    animation: slideInLeft 1.5s ease-out forwards;

    #intro-panteraNegra__info{
        transition: background-color 0.5s ease;
        border-radius: 7px;
        padding: 0.5%;
        margin-left: 5%;
        margin-right: 2.5%;
        text-align: justify;
        width: 50%;
        font-size: 25px;
        font-weight: 500;
        font-family: $letraTexto;
        color: white;
        opacity: 0;
        transform: translateY(20px);
        animation: fadeInText 2s ease forwards;
        @keyframes fadeInText {
            to {
                opacity: 1;
                transform: translateY(0);
            }
        }
        &:hover{
            background-color: #141414c7;
        }
    }
    #intro-panteraNegra__img{
        margin-right: 5%;
        margin-left: 2.5%;
        width: 35%;
        height: 350px;
        img{
            width: 100%;
            height: 100%;
            border: 5px solid black;
            outline: 3px solid $colorVioletaPanteraNegra;
            outline-offset: 5px;
            transition: transform 0.5s ease;
            

            &:hover {
                transform: scale(1.1) rotate(-2deg);
            }
        }
    }
}

#card-comics__panteraNegra{
    &:hover{
        box-shadow: 0 10px 20px $colorVioletaPanteraNegra !important;
    }
    #card-comics-line__panteraNegra {
        background-color: $colorVioletaPanteraNegra !important;
        &:hover  {
            background-color: $colorNegroPanteraNegra !important;
        }
    }
}



.cont-comics{
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    h2{
        font-size: 30px;
        font-family: $letraTitulo;
        text-align: center;
        margin-bottom: 3.5%;
        font-weight: 400;
        color: white
    }
}
.titulos{
    font-size: 30px;
    font-family: $letraTitulo;
    text-align: center;
    margin-bottom: 3%;
    font-weight: 400;
    color: white !important;
    overflow: hidden;
    
}
@import "animaciones";
#titulos-panteraNegra{
    @include destello-pulsante($colorNegroPanteraNegra, $colorVioletaPanteraNegra, #fdfdfdb6, "panteraNegra");
}


#buy-btn__panteraNegra{
    background-color: $colorVioletaPanteraNegra;
    &:hover{
    background-color: black;
    }
} 

#cont-carrusel-productos__panteraNegra{
    background-color: $colorVioletaPanteraNegra;
}

#carousel-item__panteraNegra{
    background-color: rgb(23, 23, 23);
}

#pie-footer__panteraNegra{
    background-color: $colorVioletaPanteraNegra !important;
}
@import "comic-card";

@import "carruselProductos";

@import "footerAlternativo";

@media screen and (min-width: 768px) and (max-width: 1023px){
    #intro-panteraNegra__info{
        font-size: 16px !important;
    }
    #intro-panteraNegra__img img{
        object-fit: cover;
    }
    .cont-comics{
        margin-bottom: 10%;
    }
    #card-comics__panteraNegra{
        
        #card-comics-line__panteraNegra {
            background-color: rgba(139, 0, 0, 0) !important;
        }
        &:hover  {
            background-color: $colorVioletaPanteraNegra;
        }
    }
}


@media screen and (min-width: 320px) and (max-width: 767px){
    .banner-panteraNegra{
        margin-top: 3.5%;
        margin-bottom: 3%;
        width: 93% !important;
        height: 200px !important;
        border-radius: 15px;
        img{
            border-radius: 15px;
            object-fit: contain;
            object-fit: fill;
            width: 100%;
            height: 100%;
        }
    }
    .intro-panteraNegra{
        flex-direction: column;
        margin-bottom: 60%;
        #intro-panteraNegra__info{
            font-size: 14px !important;
            width: 80%;
            margin-left: 10%;
            margin-right: 10%;
        }
        #intro-panteraNegra__img{
            width: 80%;
            margin-left: 10%;
            margin-right: 10%;
            margin-top: 3%;
            #intro-panteraNegra__img img{
                object-fit: cover;
            }
        }
    }

    .cont-comics{
        h2{
            margin-bottom: 10%;
        }
        #titulos-panteraNegra{
            margin-top: 25%;
        }
        #card-comics__panteraNegra{
        
            #card-comics-line__panteraNegra {
                background-color: rgba(139, 0, 0, 0) !important;
            }
            &:hover  {
                background-color: $colorVioletaPanteraNegra;
            }
        }
    }

   
}