$letraTexto: "Cormorant", serif;
$letraTitulo: "Audiowide", sans-serif;
$colorPrincipalSpiderman: rgb(88, 0, 0);
$colorSecundarioSpiderman: rgb(0, 0, 87);

*{
    margin: 0;
    box-sizing: border-box;
    
  }

#body-spiderman{
    background-image: url(../assets/img/body-spiderman.png);
    object-fit: cover;
    object-position: center;
    animation: scroll-bg 15s linear infinite;
}  
@keyframes scroll-bg {
    from {
      background-position: 0 0;
    }
    to {
      background-position: -500px 0;
    }
}

@import "menuAlternativo";

.header-spiderman{
    background-color: $colorPrincipalSpiderman !important ;
    .submenu__alternativo{
        background-color: $colorPrincipalSpiderman !important;
    }
}

.cont-banner__spiderman{
    margin-top: 1.5%;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 4%;
    animation: slideInLeft 1.5s ease-out forwards;
    .banner-spiderman{
        width: 90%;
        height: 400px;
        border-radius: 15px;
        img{
            border-radius: 15px;
            object-fit: contain;
            object-fit: fill;
            width: 100%;
            height: 100%;
            
        }
    }
}
@keyframes slideInLeft {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
.intro-spiderman{
    width: 100%;
    height: 400px;
    margin-bottom: 4%;
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-between;
    transform: translateX(-100%);
    animation: slideInLeft 1.5s ease-out forwards;
    #intro-spiderman__info{
        transition: background-color 0.5s ease;
        padding: 0.5%;
        border-radius: 7px;
        margin-left: 5%;
        margin-right: 2.5%;
        text-align: justify;
        width: 50%;
        font-size: 25px;
        font-weight: 500;
        font-family: $letraTexto;
        color: white;
        opacity: 0;
        transform: translateY(20px);
        animation: fadeInText 2s ease forwards;
        @keyframes fadeInText {
            to {
                opacity: 1;
                transform: translateY(0);
            }
        }
        &:hover{
            background-color: #141414c7;
        }
        
    }
    #intro-spiderman__img{
        margin-right: 5%;
        margin-left: 2.5%;
        width: 35%;
        height: 350px;
        img{
            width: 100%;
            height: 100%;
            border: 5px solid $colorPrincipalSpiderman;
            outline: 3px solid $colorSecundarioSpiderman;
            outline-offset: 5px;
            transition: transform 0.5s ease;
            

            &:hover {
                transform: scale(1.1) rotate(-2deg);
            }
        }
    }
}

.cont-comics{
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.titulos{
    font-size: 30px;
    font-family: $letraTitulo;
    text-align: center;
    margin-bottom: 3%;
    font-weight: 400;
    color: white;

    overflow: hidden;
    animation: shimmer 2s infinite;
}
@keyframes shimmer {
    0% {
      text-shadow: 0 0 20px $colorSecundarioSpiderman;
    }
    50% {
      text-shadow: 0 0 30px $colorPrincipalSpiderman;
    }
    100% {
      text-shadow: 0 0 20px $colorSecundarioSpiderman;
    }
  }



@import "comic-card";

@import "carruselProductos";

@import "footerAlternativo";

#pie-footer__spiderman{
    background-color: $colorPrincipalSpiderman !important
}

@media screen and (min-width: 768px) and (max-width: 1023px){
    .banner-spiderman{
        height: 350px !important;
    }
    #intro-spiderman__info{
        font-size: 16px !important;
    }
    #intro-spiderman__img img{
        object-fit: cover;
    }
}


@media screen and (min-width: 320px) and (max-width: 767px){
    .banner-spiderman{
        width: 93% !important;
        height: 200px !important;
        border-radius: 15px;
        img{
            border-radius: 15px;
            object-fit: contain;
            object-fit: fill;
            width: 100%;
            height: 100%;
        }
    }
    .intro-spiderman{
        flex-direction: column;
        margin-bottom: 70%;
        #intro-spiderman__info{
            font-size: 14px !important;
            width: 80%;
            margin-left: 10%;
            margin-right: 10%;
            margin-bottom: 5% !important;
        }
        #intro-spiderman__img{
            width: 80%;
            margin-left: 10%;
            margin-right: 10%;
            #intro-spiderman__img img{
                object-fit: cover;
            }
        }
    }
}